.cabecalho {
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;

}

.container__botao{
    display: none;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.cabecalho__menu-hamburguer{
    width: 50px;
    height: 50px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--cor-secundaria);
}

.lista-menu__titulo{
    color: var(--cor-terciaria);
    font-weight: 700;
}

.lista-menu__link{
    text-transform: uppercase;
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container_img{
    padding: 1em;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

/* Utilizei o min-width pois o princípio do projeto foi mobile first */
@media screen and (min-width: 1024px) {

    .container__titulo, .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__item__link{
        text-decoration: none;
        color: var(--cor-preto);
    }

    .container_img-transparente{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    
}